{% extends 'base.html' %}

{% block head %}
    {% include 'inc/_autocomplete_links.html' %}

<title>{{ title }}</title>

{% endblock %}

{% block breadcrumb %}
<div class="uk-container uk-padding-small">
      <ul class="uk-breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><span>Добавить запчасть</span></li>
      </ul>
</div>
{% endblock %}

{% block body %}
<div class="uk-container">
<h1 class="uk-h2">{{ title }}</h1>

    <!-- autocomplete -->
    <script>
  $( function() {
    var sparePartName = [
        {% for item in spare_parts_names %}
            "{{item.name}}",
        {% endfor %}
    ];
    var sparePartBrand = [
       {% for item in spare_parts_brands %}
            "{{item.brand}}",
        {% endfor %}
    ];

    $( "#sp_name" ).autocomplete({
      source: sparePartName,
      minLength: 2

    });
    $( "#sp_brand" ).autocomplete({
      source: sparePartBrand,
      minLength: 2
   });
  } );
  </script>
    <!-- autocomplete end-->

    {% if request.user.is_authenticated %}
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="uk-button uk-button-primary" type="submit">Создать</button>
    </form>
    {% else %}
        <p>Зарегистрируйтесь или войдите</p>
    {% endif %}
</div>
{% endblock %}