{% extends 'base.html' %}

{% block head %}
    {% include 'inc/_autocomplete_links.html' %}

<title>{{ title }}</title>

{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <!-- autocomplete -->
    <script>
  $( function() {
    var sparePartName = [
        {% for item in spare_parts %}
            "{{item.name}}",
        {% endfor %}
    ];
    var sparePartBrand = [
       {% for item in spare_parts %}
            "{{item.brand}}",
        {% endfor %}
    ];
    $( "#sp_name" ).autocomplete({
      source: sparePartName,
      minLength: 2

    });
    $( "#sp_brand" ).autocomplete({
      source: sparePartBrand,
      minLength: 2
   });
  } );
  </script>
    <!-- autocomplete end-->

    {% if request.user.is_authenticated %}
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Создать</button>
    </form>
    {% else %}
        <p>Зарегистрируйтесь или войдите</p>
    {% endif %}

{% endblock %}