{% extends 'base.html' %}

{% block head %}
    {% include 'inc/_autocomplete_links.html' %}

<title>{{ title }}</title>

{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if request.user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        <p>В каталоге нет нужной запчасти? <a href="{% url "new_spare_part" %}">Добавить новую</a></p>
        {{ review_form.as_p }}
        <button class="btn btn-primary" type="submit">Создать</button>
    </form>
    {% else %}
        <p>Зарегистрируйтесь или войдите</p>
    {% endif %}
    <!-- chained forms -->
    <script>
    $(document).ready(function(){
    $('select[name=car_model]').children().remove();
    $('select[name=car_model]').append('<option id="">Сначала выберите марку</option>');
    $('select[name=car_brand]').change(function(){
        brand_id = $(this).val();
        request_url = '/get_models/' + brand_id + '/';
        $.ajax({
            url: request_url,
            success: function(data){
                $('#id_car_model').empty(); // очищаем список
                $('select[name=car_model]').append(
                    $('<option></option>').val('').html('Выберите модель') // добавляем плейсхолдер
                );
                $.each(data, function(index, text){
                    $('select[name=car_model]').append( // добавляем модели циклом
                         $('<option></option>').val(index).html(text)
                     );
                });
            }
        });
        return false;
    })
});
    </script>
    <!-- chained forms END -->

{% endblock %}