{% extends 'base.html' %}

{% block head %}
    {% include 'inc/_autocomplete_links.html' %}

<title>{{ title }}</title>

{% endblock %}

{% block breadcrumb %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Добавить запчасть</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <!-- autocomplete -->
    <script>
  $( function() {
    var sparePartName = [
        {% for item in spare_parts_names %}
            "{{item.name}}",
        {% endfor %}
    ];
    var sparePartBrand = [
       {% for item in spare_parts_brands %}
            "{{item.name}}",
        {% endfor %}
    ];

    $( "#sp_name" ).autocomplete({
      source: sparePartName,
      minLength: 2

    });
    $( "#sp_brand" ).autocomplete({
      source: sparePartBrand,
      minLength: 2
   });
  } );
  </script>
    <!-- autocomplete end-->

    {% if request.user.is_authenticated %}
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Создать</button>
    </form>
    {% else %}
        <p>Зарегистрируйтесь или войдите</p>
    {% endif %}

{% endblock %}