{% extends 'base.html' %}

{% block head %}
<title>{{ title }} {{ car_brand }}</title>
{% endblock %}

{% block breadcrumb %}
<div class="uk-container uk-padding-small">
      <ul class="uk-breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><span>{{ car_brand }}</span></li>
      </ul>
</div>
{% endblock %}

{% block body %}
<div class="uk-container">
<h1 class="uk-h2">{{ title }} {{ car_brand }}</h1>
 <div class="uk-column-1-2@s uk-column-1-3@m uk-column-1-4@l uk-column-1-5@l">
    <ul class="uk-list">
        {% for car in car_models %}
            <li><a class="uk-link-text" href="{{ car.get_absolute_url }}">{{ car.model_name }}
                {% if car.cnt > 0 %}<span class="uk-badge"> {{ car.cnt }}</span>{% else %}{% endif %}
            </a></li>
        {% endfor %}
    </ul>
 </div>
</div>
{% endblock %}
