{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block breadcrumb %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'car_models_all' car_brand.id %}">{{ car_brand }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ car_model }}</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}
<h1>{{ title }}</h1>
    <ol class="list-group list-group-numbered">
        {% for item in spare_parts %}
            {% comment %}
            <li class="list-group-item"><a href="{{ item.spare_part.get_absolute_url }}">{{ item.spare_part }}</a></li>
            {% endcomment %}
            <li class="list-group-item"><a href="{% url 'model_spare_parts_reviews' item.car_model_id item.spare_part_id %}">{{ item.spare_part }}</a></li>
        {% empty %}
            <p>Еще ничего нет</p>
        {% endfor %}
    </ol>
{% endblock %}