{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<h1>{{ title }} {{ brand }} {{ model_name }} {{ model_variant }} {{ car_age }} г./в.</h1>
    <ol class="list-group list-group-numbered">
        {% for item in spare_parts %}
            <li class="list-group-item">{{ item }} - {{ item.mileage }} тыс.км.</li>
        {% empty %}
            <p>Еще ничего нет</p>
        {% endfor %}
    </ol>
<div class="row" style="margin-top: 20px">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Минимальный пробег
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ min_mileage }} тыс.км.</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Максимальный пробег
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ max_mileage }} тыс.км.</h5>
      </div>
    </div>
    </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Средний пробег
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ avg_mileage }} тыс.км.</h5>
      </div>
    </div>
    </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Всего записей
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ records_count }} шт.</h5>
      </div>
    </div>
    </div>

    <h2>Похожие запчасти</h2>
    <ol class="list-group list-group-numbered">
        {% for item in similar_spare_parts|slice:':7' %}
            <li class="list-group-item"><a href="{% url 'spare_parts_mileages' item.car_id item.spare_part_id %}">
                {{ item }}</a> - {{ item.mileage }} тыс.км.</li>
        {% empty %}
            <p>Еще ничего нет</p>
        {% endfor %}
    </ol>

{% endblock %}