{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block breadcrumb %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'car_models_all' car_brand.id %}">{{ car_brand }}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'model_info' car_model.id %}">{{ car_model }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ spare_part }}</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}
<h1>Список пробегов запчасти {{ spare_part }} для {{ car_brand }} {{ car_model }}</h1>
    <ol class="list-group list-group-numbered">
        {% for item in spare_parts %}
            <li class="list-group-item">{{ item }} - {{ item.mileage }} тыс.км.</li>
        {% empty %}
            <p>Еще ничего нет</p>
        {% endfor %}
    </ol>
<div class="row">
  <div class="col-sm-3" style="margin-top: 20px">
    <div class="card">
      <div class="card-header">
        Минимальный пробег
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ min_mileage }} тыс.км.</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3" style="margin-top: 20px">
    <div class="card">
      <div class="card-header">
        Максимальный пробег
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ max_mileage }} тыс.км.</h5>
      </div>
    </div>
    </div>
  <div class="col-sm-2" style="margin-top: 20px">
    <div class="card">
      <div class="card-header">
        Средний пробег
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ avg_mileage|floatformat:1 }} тыс.км.</h5>
      </div>
    </div>
    </div>
  <div class="col-sm-2" style="margin-top: 20px">
    <div class="card">
      <div class="card-header">
        Рейтинг запчасти
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ avg_rating|floatformat:1 }}</h5>
      </div>
    </div>
    </div>
  <div class="col-sm-2" style="margin-top: 20px">
    <div class="card">
      <div class="card-header">
        Всего записей
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ records_count }} шт.</h5>
      </div>
    </div>
    </div>
    </div>
    <h2>Похожие запчасти</h2>
    <ol class="list-group list-group-numbered">
        {% for item in similar_spare_parts %}
            <li class="list-group-item"><a href="{% url 'model_spare_parts_reviews' item.car_model_id item.spare_part_id %}">
                {{ item }}</a></li>
        {% empty %}
            <p>Еще ничего нет</p>
        {% endfor %}
    </ol>
{% endblock %}