{% extends 'base.html' %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>{{ title }}</title>
{% endblock %}

{% block breadcrumb %}
    <div class="uk-container uk-padding-small">
        <ul class="uk-breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'get_spare_parts_categories' %}">Каталог запчастей</a></li>
            <li><a href="{% url 'spare_parts_category' spare_part.category_id %}">{{ spare_part.category.name }}</a>
            </li>
            <li><span>{{ spare_part }}</span></li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    <div class="uk-container">
        <h1 class="uk-h2">{{ spare_part }}</h1>

        {% if records_count %}
            {% include 'inc/_mileage_cards.html' %}

            <h2 class="uk-h3">Отзывы об этой запчасти</h2>
            <div>
                {% for item in page_obj.object_list %}
                        <div class="card-border uk-card uk-card-default uk-card-small uk-width-expand uk-margin-medium">
                            <div class="uk-card-header">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        {% if request.user.id == item.owner.id %}
                                            <a href="{% url 'user_profile_page' %}">
                                        {% else %}
                                            <a href="{% url 'user_public_profile_page' item.owner.id %}">
                                        {% endif %}
                                        <img class="uk-border-circle" width="45" height="45"
                                             src="{{ MEDIA_URL }}{{ item.owner.profile.avatar }}" alt="">
                                            </a>
                                    </div>
                                    <div class="uk-width-expand">
                                        <h3 class="uk-card-title uk-margin-remove-bottom">Оценил
                                            на: {{ item.rating }}</h3>
                                        <p class="uk-text-meta uk-margin-remove">Пробег {{ item.mileage }} тыс.км.</p>
                                        <p class="uk-text-meta uk-margin-remove-top">{{ item.date|date:"d E Y, H:i" }}</p>
                                    </div>
                                    {#                                 TODO добавить проверку авторизации #}
                                    <div class="uk-width-auto">
                                        {% csrf_token %}
                                        <span id="like_count_{{ item.id }}">{{ item.like_count }}</span>
                                        <button class="uk-button-link like" data-id="{{ item.id }}"
                                                value="{{ item.id }}" uk-icon="heart"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-card-body">
                                <p>{% if item.testimonial %}{{ item.testimonial }}{% else %}
                                    Пусто{% endif %}</p>
                            </div>
                            <div class="uk-card-footer">
                                {% if item.jpeg %}
                                    <div uk-lightbox>
                                        Фото: <a class="uk-inline" href="{{ MEDIA_URL }}{{ item.jpeg }}"><img src="{{ item.jpeg.thumbnail.url }}" alt=""></a>
                                    </div>
                                    <hr>
                                {% endif %}
                                <div class="uk-flex uk-flex-between">
                                    <a href="{% url 'model_spare_parts_reviews' item.car_model.id item.spare_part_id %}"
                                       class="card-link">{{ item.car_brand }} {{ item.car_model }}</a>
                                    {% if request.user.id == item.owner.id %}
                                        <a href="{% url 'user_profile_page' %}"
                                           class="card-link">{{ item.owner.username }}</a>
                                    {% else %}
                                        <a href="{% url 'user_public_profile_page' item.owner.id %}"
                                           class="card-link">{{ item.owner.username }}</a>
                                    {% endif %}
                                </div>
                                <ul uk-accordion>
                                    <li>
                                        <a class="uk-accordion-title uk-text-default" href="#">Комментарии (<span id="comments_count_{{ item.id }}">{{ item.comment.count }}</span>)</a>
                                        <div class="uk-accordion-content">
                                            <hr>
                                            {% for i in item.comment.all %}
                                                <article class="uk-comment">
                                                    <header class="uk-comment-header">
                                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                                            <div class="uk-width-auto">
                                                                <img class="uk-comment-avatar uk-border-circle"
                                                                     src="{{ MEDIA_URL }}{{ i.user.profile.avatar }}"
                                                                     width="40" height="40" alt="">
                                                            </div>
                                                            <div class="uk-width-expand">
                                                                <h4 class="uk-comment-title uk-margin-remove-bottom">{{ i.user.username }}</h4>
                                                                <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                                                    <li>{{ i.date }}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </header>
                                                    <div class="uk-comment-body">
                                                        <p>{{ i.comments_text }}</p>
                                                    </div>
                                                </article>
                                                <hr>
                                            {% endfor %}
                                            <article class="uk-comment">
                                                <header class="uk-comment-header">
                                                    <div class="uk-width-expand">
                                                        <h4 class="uk-comment-title uk-margin-remove-bottom">Добавить
                                                            комментарий</h4>
                                                    </div>
                                                </header>
                                                <div class="uk-comment-body">
                                                    <textarea class="uk-textarea comment-text" rows="5"
                                                              id="comment-text-{{ item.id }}"
                                                              placeholder="Текст комментария"></textarea>
                                                    <div class="uk-text-right">
                                                        <span class="uk-text-small" id="message_{{ item.id }}"></span>
                                                        <button class="uk-button uk-button-primary add-comment-btn uk-margin-small-top"
                                                                data-id="{{ item.id }}" value="{{ item.id }}">Добавить
                                                        </button>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </li>
                                </ul>
                                {#                            <div id="modal" uk-modal>#}
                                {#                                <div class="uk-modal-dialog">#}
                                {#                                <button class="uk-modal-close-default" type="button" uk-close></button>#}
                                {#                                <div class="uk-modal-header">#}
                                {#                                    <h2 class="uk-modal-title">Добавить комментарий к отзыву</h2>#}
                                {#                                </div>#}
                                {#                                <div class="uk-modal-body">#}
                                {#                                    <textarea class="uk-textarea comment-text" rows="5" id="comment-text-{{item.id}}" placeholder="Текст комментария"></textarea>#}
                                {#                                </div>#}
                                {#                                <div class="uk-modal-footer uk-text-right">#}
                                {#                                    <span class="uk-text-small" id="message_{{ item.id }}"></span>#}
                                {#                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>#}
                                {#                                    <button class="uk-button uk-button-primary add-comment-btn" data-id="{{item.id}}" value="{{item.id}}">Добавить</button>#}
                                {#                                </div>#}
                                {#                                </div>#}
                                {#                            </div>#}
                            </div>
                        </div>
                {% empty %}
                    <p>Еще никто не оставил отзыв</p>
                {% endfor %}
            </div>
            <h2 class="uk-h3">Автомобили, где установлена эта запчасть</h2>
            <ul class="uk-list uk-list-decimal">
                {% for item in cars %}
                    <li>
                        <a href="{{ item.car_model.get_absolute_url }}">{{ item.car_brand }} {{ item.car_model }}</a>
                    </li>
                {% empty %}
                    <p>Еще ничего нет</p>
                {% endfor %}
            </ul>
        {% else %}
            <p>Еще ничего нет</p>
        {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.like', function (e) {
                var id = $(this).attr('data-id');
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '{% url "like" %}',
                    data: {
                        review_id: id,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function (json) {
                        document.getElementById("like_count_" + id).innerHTML = json['result']
                    },
                    error: function (xhr, errmsg, err) {

                    }
                });
            })

            $(document).on('click', '.add-comment-btn', function (e) {
                var id = $(this).attr('data-id');
                e.preventDefault();

                function eraseText() {
                    document.getElementById("comment-text-" + id).value = "";
                }

                $.ajax({
                    type: 'POST',
                    url: '{% url "add_comment" %}',
                    data: {
                        review_id: id,
                        comment_text: $("#comment-text-" + id).val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success: function (json) {
                        document.getElementById("message_" + id).innerHTML = json['message']
                        document.getElementById("comments_count_" + id).innerHTML = json['result']
                        eraseText()
                    },
                    error: function (xhr, errmsg, err) {

                    }
                });
            })
        })
    </script>
{% endblock %}