{% extends 'base.html' %}

{% block head %}
<title>{{ category_name }}</title>
{% endblock %}

{% block breadcrumb %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
          <li class="breadcrumb-item" aria-current="page"><a href="{% url 'get_spare_parts_categories' %}">Каталог запчастей</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ category_name }}</li>
      </ol>
    </nav>
{% endblock %}

{% block body %}
<h1>{{ category_name }}</h1>
    <ol class="list-group list-group-numbered">
        {% for item in all_spare_parts %}
            <li class="list-group-item"><a href="{{ item.get_absolute_url }}">{{ item }}
            {% if item.cnt > 0 %}<span class="badge bg-primary rounded-pill"> {{ item.cnt }}
                    {% else %}{% endif %}</span></a></li>
        {% empty %}
            <p>Еще ничего нет</p>
        {% endfor %}
    </ol>
{% endblock %}