{% extends 'base.html' %}

{% block head %}
<title>{{ category_name }}</title>
{% endblock %}

{% block breadcrumb %}
<div class="uk-container uk-padding-small">
      <ul class="uk-breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'get_spare_parts_categories' %}">Каталог запчастей</a></li>
        <li><span>{{ category_name }}</span></li>
      </ul>
</div>
{% endblock %}

{% block body %}
<div class="uk-container">
<h1 class="uk-h2">{{ category_name }}</h1>
 <div class="uk-column-1-2@s">
    <ul class="uk-list uk-list-decimal">
        {% for item in all_spare_parts %}
            <li><a href="{{ item.get_absolute_url }}">{{ item }}
                {% if item.cnt > 0 %}<span class="uk-badge"> {{ item.cnt }}</span>{% else %}{% endif %}
            </a></li>
        {% empty %}
            <p>Еще ничего нет</p>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}