{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<h1>{{ title }} {{ brand }} {{ model_name }} {{ model_variant }} {{ car_age }} г./в.</h1>
    <ol class="list-group list-group-numbered">
        {% for item in spare_parts %}
            <li class="list-group-item">{{ item }} - {{ item.mileage }} тыс.км.</li>
        {% endfor %}
    </ol>
    Мин {{ min_mileage }}<br>
    Макс {{ max_mileage }}<br>
    Среднее {{ avg_mileage }}<br>
    Всего записей {{ records_count }}<br>

    <h2>Похожие запчасти</h2>
    <ol class="list-group list-group-numbered">
        {% for item in similar_spare_parts|slice:':7' %}
            <li class="list-group-item">{{ item }}</li>
        {% endfor %}
    </ol>

{% endblock %}