{% extends 'base.html' %}

{% block head %}
<title>{{ title }} {{ profile.user.username }}</title>
{% endblock %}

{% block breadcrumb %}
<div class="uk-container uk-padding-small">
      <ul class="uk-breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><span>Профиль пользователя {{ profile.user.username }}</span></li>
      </ul>
</div>
{% endblock %}

{% block body %}
<div class="uk-container">
<h1 class="uk-h2">Профиль пользователя {{ profile.user.username }}</h1>
 <div class="uk-grid" uk-grid>
    <div>
        <img class="uk-border-circle" width="100" height="100"  src="{{ MEDIA_URL }}{{ profile.avatar }}" alt="">
    </div>
    <div>
        <ul class="uk-list">
            <li>Логин: {{ profile.user.username }}</li>
             <li>Дата регистрации: {{ profile.user.date_joined }}</li>
           {% if profile.drive2_link %}
                <li><a href="{{ profile.drive2_link }}" rel="nofollow" target="_blank">Ссылка на профиль Drive2.ru</a></li>
            {% endif %}
        </ul>
    </div>
</div>
    <h3>Отзывы этого пользователя</h3>
    <ul class="uk-list uk-list-decimal">
        {% for item in user_reviews %}
            {% comment %}
            # TODO починить ссылку
            <li><a href="{% url 'spare_parts_reviews' item.car_model_id item.spare_part_id %}">
            {% endcomment %}
            <li><a href="{% url 'get_spare_part' item.spare_part.id %}">{{ item }}</a> - {{ item.mileage }} тыс.км.</li>
        {% empty %}
            <p>Еще ничего нет</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}