{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block breadcrumb %}
<div class="uk-container uk-padding-small">
      <ul class="uk-breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><span>Мой профиль</span></li>
      </ul>
</div>
{% endblock %}

{% block body %}
<div class="uk-container">
<h1 class="uk-h2">Мой профиль</h1>
{% if request.user.is_authenticated %}
 <div class="uk-grid" uk-grid>
    <div>
        <img class="uk-border-circle" width="180" height="180"  src="{{ MEDIA_URL }}{{ user.profile.avatar }}" alt="">
    </div>
    <div>
        <ul class="uk-list">
            <li>Логин: {{ user.username }}</li>
            <li>Имя: {{ user.first_name }}</li>
            <li>Фамилия: {{ user.last_name }}</li>
            <li>E-mail: {{ user.email }}</li>
            <li>Дата регистрации: {{ user.date_joined }}</li>
            <li><a href="{{ user.profile.drive2_link }}" rel="nofollow" target="_blank">Ссылка на профиль Drive2.ru</a></li>
        </ul>
    </div>
</div>
    <h3>Мои отзывы о запчастях</h3>
    <ul class="uk-list uk-list-decimal">
        {% for item in user_reviews %}
            {% comment %}
            # TODO починить ссылку
            <li><a href="{% url 'spare_parts_reviews' item.car_model_id item.spare_part_id %}">
            {% endcomment %}
            <li><a href="{% url 'get_spare_part' item.spare_part.id %}">{{ item }}</a> - {{ item.mileage }} тыс.км.</li>
        {% empty %}
            <p>Еще ничего нет</p>
        {% endfor %}
    </ul>
{% else %}
    <p>Зарегистрируйтесь или войдите</p>
{% endif %}
</div>
{% endblock %}