{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/css/uikit.min.css" />
        <link rel="stylesheet" href={% static 'style.css' %}/>
    {% block head %}
        <title>Отзывы о запчастях</title>
    {% endblock %}
    </head>
    <body>
    <div>

    <div class="uk-section uk-padding-remove-vertical uk-section-default uk-background-secondary">
        {% include 'inc/_navbar.html' %}
    </div>

    <div class="uk-section uk-padding-remove-vertical uk-section-default">
          {% block breadcrumb %}
          {% endblock breadcrumb %}
    </div>

    <div class="uk-section uk-section-xsmall uk-section-default">
        <div class="uk-container">
          {% include 'inc/_alert_messages.html' %}
        </div>

          {% block body %}
          {% endblock %}

          {% include 'inc/_pagination.html' %}
    </div>

     <div class="uk-section uk-section-xsmall uk-margin-medium-top uk-section-default uk-background-secondary">
        {% include 'inc/_footer.html' %}
    </div>

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/js/uikit-icons.min.js"></script>
    </div>
    </body>
</html>