<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2021 Отзывы о запчастях</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Главная</a></li>
      <li class="nav-item"><a href="{% url "add_review_page" %}" class="nav-link px-2 text-muted">Добавить отчет</a></li>
      <li class="nav-item"><a href="{% if user.id %}{% url "user_profile_page" user.id %}{% else %}#need-login{% endif %}" class="nav-link px-2 text-muted">Мой профиль</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
    </ul>
  </footer>
</div>