<style>
    .uk-navbar-nav>li>a {
        color: #e5e5e5;
    }
</style>

<div class="uk-container uk-container-expand uk-background-secondary">
    <nav class="uk-navbar" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <a href="{% url 'home' %}">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                    Главная
                </a>
            </li>
        </ul>
        <ul class="uk-navbar-nav">
            <li>
                <a href="{% url 'get_spare_parts_categories' %}">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: cog"></span>
                    Все запчасти
                </a>
            </li>
        </ul>
        <ul class="uk-navbar-nav">
            <li>
                <a href="{% url "add_review_page" %}">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: comment"></span>
                    Добавить отзыв
                </a>
            </li>
        </ul>
    </div>
    <div class="uk-navbar-right">

        <div class="uk-navbar-item">
            <div class="uk-inline">
            <form method="GET" action="{% url 'search_page' %}">
                <button class="uk-form-icon uk-form-icon-flip" uk-icon="icon: search"></button>
                <input class="uk-input" type="search" name="q" id="q" placeholder="Поиск запчасти">
           </form>
            </div>
       </div>
         <ul class="uk-navbar-nav">
            <li>
                <a class="uk-icon-link" uk-icon="user" href="#"></a>
            </li>
        </ul>
         <ul class="uk-navbar-nav">
            <li>
                <a class="uk-icon-link" uk-icon="sign-in" href="#"></a>
            </li>
        </ul>

    </div>
    </nav>
  </div>